<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean name="speakerRepository" class="com.pluralsight.repository.HibernateSpeakerRepositoryImpl" />

    <!-- When using setter injection -->
    <!--
    <bean name="speakerService" class="com.pluralsight.service.SpeakerServiceImpl">
        <property name="speakerRepository" ref="speakerRepository"/>
    </bean>
    -->

    <!-- When using constructor injection -->
    <!--
    <bean name="speakerService" class="com.pluralsight.service.SpeakerServiceImpl">
        <constructor-arg index="0" ref="speakerRepository"/>
    </bean>
    -->

    <!-- When using AUTOWIRED by constructor-->
    <!--
    <bean name="speakerService" class="com.pluralsight.service.SpeakerServiceImpl" autowire="constructor"/>
    -->

    <!--
    <bean name="speakerService" class="com.pluralsight.service.SpeakerServiceImpl" autowire="byType"/>
    -->

    <!-- When using AUTOWIRED by name-->
    <!-- This is the suggested by the lecturer, because is less error prone -->
    <bean name="speakerService" class="com.pluralsight.service.SpeakerServiceImpl" autowire="byName"/>

</beans>